@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Rubik+Bubbles&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: hidden;
}
::selection {
  background-color: #003c0480;
}
.logo {
  width: 100px;
}
header {
  position: absolute;
  width: 100%;
  z-index: 9999;
  padding: 0 0;
  top: 10px;
  left: 0;
}
header nav {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header ul a {
  font-family: "Poppins", sans-serif;
  transition: 1s;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 0 1.5rem;
  font-weight: 300;
  font-size: 1rem;
}
header ul a:hover {
  transition: 200ms;
  color: #f98322;
}
.icon {
  height: 20px;
  padding: 3px;
}
.icons {
  display: flex;
  justify-content: center;
  padding: 3px;
}
.icon:hover {
  border-radius: 50px;
  background-color: #818181;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
h1 {
  font-family: "Monoton", sans-serif;

  color: #ffffff;
  font-size: 5vw;
  position: absolute;
  top: 15%;
  text-shadow: #ffffffce 70px 70px 200px;

  left: 12%;
}

.bimg {
  filter: drop-shadow(10px 0px 200px #ffffff96);
  position: absolute;
  top: 3%;
  left: 61%;
  height: 50vw;
}

button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f98322;
  border-radius: 10px;
  height: 10vh;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  width: 10vw;
  font-family: "Rubik Bubbles", sans-serif;
  font-size: 1vw;
  transition: 10ms;
  top: 48.5%;
}
button:hover{
  background-color: #f98322;
}
.cart {
  left: 12%;
}
.bye {
  left: 25%;
}
.menucontiner {
  
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 70%;
  left: 10%;
}

.menuchild {
  filter: drop-shadow(10px 0px 100px #ffffff96);
  margin-right: 30px;
  border: solid 2px #818181;
  border-radius: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  position: relative;
  
  background-color: #00000000;
  transition: all 500ms;
}
.menuchild:hover {
  border: solid 2px #f98322;
  overflow: visible;
  scale: 1.1;
}
.av {
  margin-right: 0px;
}
.menuimg {
  height: 150px;
  transition: all 500ms;
}
.menuimg:hover {
  scale: 1.3;
  transform: translateY(-40px);
}
