* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.logo {
  width: 100px;
}
header {
  position: absolute;
  width: 100%;
  z-index: 9999;
  padding: 0 0;
  top: 10px;
  left: 0;
}
header nav {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header ul a {
  font-family: "Poppins", sans-serif;
  transition: 1s;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 0 1.5rem;
  font-weight: 300;
  font-size: 1rem;
}
header ul a:hover {
  transition: 200ms;
  color: #f98322;
}
.icon {
  height: 20px;
  padding: 3px;
}
.icons {
  display: flex;
  justify-content: center;
  border-left: 1.5rem ;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top left, #1c1c1c, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-container {
  background: rgba(0, 0, 0, 0.85);
  padding: 40px;
  width: 360px;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(255, 140, 0, 0.35);
  text-align: center;
}

.login-container h1 {
  font-size: 32px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.login-container span {
  color: orange;
}

.login-container p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 8px;
  border: none;
  background: #1a1a1a;
  color: white;
  outline: none;
  font-size: 14px;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #ff9f1a, #ff6a00);
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 15px;
}

button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 140, 0, 0.8);
}

.links {
  margin-top: 20px;
  font-size: 13px;
}

.links a {
  color: orange;
  text-decoration: none;
  margin: 0 5px;
}

.links a:hover {
  text-decoration: underline;
}